@font-face {
    font-family: 'ManropeBold';
    src: url('fonts/Manrope-Bold.ttf');
}
@font-face {
    font-family: 'ManropeRegular';
    src: url('fonts/Manrope-Regular.ttf');
}
@font-face {
    font-family: 'ManropeSemiBold';
    src: url('fonts/Manrope-SemiBold.ttf');
}

body {
    background: linear-gradient(to right, #f0f3f5, #e6ebf0 50%);
    font-family: "ManropeRegular";
    margin: 0px;
}

.template-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: 130px auto 0px auto;
}
.template-head-text {
    font-family: "ManropeBold";
    font-size: 33pt;
    margin: 0px;
    font-weight: normal;
}

.header {
    margin: 0px auto;
    text-align: center;;
}
.header__logo {
    width: 140px;
}
.header__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 30%;
    justify-content: space-between;
}
.header__menu-item {
    font-family: "ManropeSemiBold";
    text-transform: uppercase;
    margin: 10px 10px 10px 0px;
}

.top-block {
    margin: 100px auto 130px auto;
}
.top-block__text {
    font-size: 15pt;
    margin-top: 70px;
    width: 45%;
}
.top-block__title {
    font-size: 43pt;
}
.button {
    position: relative;
    background-color: #3586ff;
    color: white;
    border: 1px solid #3586ff;
    padding: 15px 60px;
    border-radius: 7px;
    font-family: "ManropeBold";
    font-size: 12pt;
    width: fit-content;
    margin: 0px;
}
.button::after {
    position: absolute;
    content: "";
    border: 1px solid #3586ff;
    border-radius: 10px;
    inset: -5px;
}
.top-block__button {
    margin: 40px 0px 50px 5px;
}
.top-block__image {
    width: 55%;
    min-width: 500px;
}

.choice-block {
    text-align: center;
}
.choice-block__list-of-courses {
    margin: 70px auto;
}

.choice-block__card-course {
    background-color: #f1f4f8;
    border-radius: 7px;
    width: 25%;
    padding-top: 15px;
    min-width: 270px;
    margin: 10px 5px;
}
.choice-block__title-card {
    font-family: "ManropeBold";
    font-size: 15pt;
}

.free-block {
    position: relative;
    width: 70%;
    margin: 130px auto 0px auto;
}
.free-block__image {
    border-radius: 25px;
    width: 100%;
    min-width: 550px;
}
.free-block__text-block {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 40%;
    top: 20%;;
    left: 6%;
    font-size: 14pt;
    max-width: 60%;
}
.free-block__text {
    max-width: 600px;
    margin-top: 40px;
    min-width: 300px;
}
.free-block__button {
    padding: 0px 30px;
    height: 60px;
    margin-top: 50px;
}

.stretching-block {
    margin: 220px auto 0px auto;
    width: 70%;
}
.stretching-block__info-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.stretching-block__image {
    border-radius: 20px;
    width: 50%;
    min-width: 550px;
    margin-top: 10px;
}
.stretching-block__text-block {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
    margin: 10px 0px 0px 10px;
    font-size: 14pt;
}
.stretching-block__title {
    text-transform: uppercase;
    font-family: "ManropeSemiBold";
    margin: 0px;
}
.stretching-block__reiting-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}
.stretching-block__card-reiting {
    background-color: #f1f4f8;
    display: flex;
    border-radius: 7px;
    padding: 0px 15px;
    margin: 10px 0px;
    align-items: center;
}
.stretching-block__reiting-text {
    font-size: 11pt;
    font-family: "ManropeSemiBold";
    margin-right: 5px;
}
.stretching-block__reiting-image {
    margin-right: 5px;
}
.stretching-block__reiting-image_end {
    margin-left: 10px;
}
.stretching-block__reiting-image_star {
    margin-left: 40px;
}
.stretching-block__buy-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.stretching-block__price {
    font-family: "ManropeBold";
    font-size: 30pt;
    margin: 0px;
}
.stretching-block__button {
    margin-bottom: 5px;
    margin-top: 10px;
}

.stretching-block__category-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    margin-top: 70px;
}
.stretching-block__category {
    font-family: "ManropeBold";
    background-color: #f1f4f8;
    padding: 12px 0px;
    border-radius: 10px;
    width: 28%;
    text-align: center;
    min-width: 150px;
    margin: 15px 10px 15px 0px;
}
.stretching-block__category_choice {
    background-color: #3586ff;
    color: #f1f4f8;
}
.stretching-block__category_end {
    margin-right: 0px; 
}

.stretching-block__coach-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}
.stretching-block__coach-text {
    font-size: 12pt;
    margin: 5px 10px 0px 0px;
    width: 25%;
    min-width: 220px;
}
.stretching-block__coach {
    text-align: center;
    background-color: #f1f4f8;
    margin: 10px 5px;
    width: 20%;
    height: 270px;
    border-radius: 15px;
    padding: 15px 0px;
    min-width: 230px;
}
.stretching-block__name-coach {
    font-family: "ManropeBold";
    margin: 10px 0px 5px 0px;
}
.stretching-block__info-coach {
    font-size: 10pt;
    margin: 5px;
}

.info-block {
    padding: 100px 15% 130px 15%;
    margin: 130px 0px;
    background-color: #f1f4f8;
}
.info-block__text-block {
    font-size: 14pt;
    width: 40%;
    margin-top: 30px;
}
.info-block__image {
    border-radius: 15px;
    min-width: 500px;
    margin-top: 30px;
}
.info-block__button {
    margin-top: 50px;
}

.how-work-block {
    text-align: center;
}
.how-work-block__list-of-cards {
    margin: 50px auto 0px auto;
    text-align: left;
}
.how-work-block__card {
    width: 20%;
    min-width: 200px;
}
.how-work-block__number-card {
    background-color: #3586ff;
    font-family: "ManropeSemiBold";
    color: #f1f4f8;
    border-radius: 10px;
    width: fit-content;
    padding: 5px 20px;
}
.how-work-block__title-card {
    font-family: "ManropeSemiBold";
    font-size: 14pt;
    margin-bottom: 0px;
}
.how-work-block__info-card {
    margin-top: 10px;
}

.input-data-block {
    width: 70%;
    margin: 130px auto 0px auto;
    background: linear-gradient(to right, #e6ebf0, #f0f3f5);
    border-radius: 15px;
    text-align: center;
    padding: 100px 0px 150px 0px;
}
.input-data-block__text {
    font-size: 14pt;
    width: 50%;
    margin: 20px auto;
}
.input-data-block__form-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 40%;
    margin: 0px auto;
}
.input-data-block__form {
    text-align: left;
    width: 45%;
    margin: 30px 0px;
    min-width: 190px;
}
.input-data-block__form_long {
    width: 40%;
    margin: 0px auto;
    text-align: left;
}
.input-data-block__title-form {
    font-family: "ManropeSemiBold";
    font-size: 11pt;
    margin: 10px 0px;
}
.input-data-block__input-form {
    border: 1px solid #d6d8df;
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    font-size: 12pt;
    width: 100%;
    position: relative;
}
.input-data-block__title-purpose {
    font-family: "ManropeSemiBold";
    font-size: 11pt;
    text-align: left;
    margin: 30px auto 0px auto;
    width: 40%;
}
.input-data-block__list-of-purposes {
    width: 40%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}
.input-data-block__purpose {
    display: flex;
    margin-right: 20px;
    margin-top: 10px;
    align-items: center;
    font-size: 11pt;
}
.input-data-block__old-radiobox {
    display: none;
}
.input-data-block__new-radiobox {
    background-color: transparent;
    width: 18px;
    height: 18px;
    border: 2px solid #3586ff;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
}
.input-data-block__new-radiobox::after {
    content: "";
    position: absolute;
    background-color: #e9eef2;
    bottom: 3px;
    left: -2px;
    width: 4px;
    height: 4px;
    transform: rotate(75deg);
}
.input-data-block__old-radiobox:checked + .input-data-block__new-radiobox::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    background-color: #3586ff;
    border-radius: 50%;
}
.input-data-block__check-person-data {
    margin: 40px auto 60px auto;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    font-size: 11pt;
}
.input-data-block__old-checkbox {
    display: none;
}
.input-data-block__new-checkbox {
    background-color: transparent;
    width: 20px;
    height: 20px;
    border: 2px solid #3586ff;
    border-radius: 5px;
    position: relative;
    margin-right: 10px;
}
.input-data-block__new-checkbox::after {
    position: absolute;
    content: "";
    top: 8px;
    right: -3px;
    width: 4px;
    height: 5px;
    background-color: #e9eef2;
}
.input-data-block__old-checkbox:checked + .input-data-block__new-checkbox::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 7px;
    width: 4px;
    height: 8px;
    border: solid #3586ff;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
}

.footer {
    margin: 30px auto;
    font-size: 11pt;
    align-items: center;
}
.footer__images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 12%;
    justify-content: space-between;
}
.footer__icon {
    margin: 5px;
}
.footer__href {
    color: black;
}


